body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: #001220;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.spacer {
    aspect-ratio: 960/350;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(../svg/waves.svg);
}