@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html, body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 5px;
    background-color: rgb(180, 180, 180);
}

.brand a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    margin-left: 20px;
    
}

li > a href{
    text-decoration: none;
    color: rgb(241, 241, 241);
    font-size: 10px;
    font-weight: 500;
}


li > a:hover {
    color: rgb(255, 255, 255);
}
